<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="{{ asset('css/main.css') }}"/>
	<!-- <link rel="stylesheet" href="http://purecss.io/combo/1.11.2?/css/main-grid.css&/css/layouts/marketing.css"> -->
	<!-- <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.4.2/base-min.css"> -->
	<link rel="stylesheet" href="{{ asset('css/normalize.css') }}">
	<link rel="stylesheet" href="{{ asset('css/pure-min.css') }}">

	<title>{% block title %}{% endblock %}</title>

	{% block head %}{% endblock %}
</head>
<body>
	<div class="header">
		<div class="pure-menu pure-menu-open pure-menu-horizontal">
			<a href="{{ path('quote_index') }}" class="pure-menu-heading">#VCH Quotes</a>
			<ul>
				{% if app.user %}
				<li><a href="{{ path('quote_new') }}"><strong>New quote</strong></a></li>
				<li><a href="{{ path('quote_logout') }}">Sign out</a></li>
				{% else %}
				<li><a href="{{ path('quote_register') }}">Sign up</a></li>
				<li><a href="{{ path('quote_login') }}">Sign in</a></li>
				{% endif %}
			</ul>
		</div>
	</div>

	{% for flashMessage in app.session.flashbag.get('notice') %}
	    <div class="flash-notice">
	        {{ flashMessage }}
	    </div>
	{% endfor %}

	<div class="pure-g">
		{% block body %}{% endblock %}
	</div>
</body>
</html>