<div class="quote">
	<h4><a href="{{ path('quote_view_id', {'id': quote.id}) }}">{{ "#" ~ quote.id }}</a> by <a href="{{ path('quote_view_user', {'username': quote.userId.username}) }}">{{ quote.userId.username }}</a>
	{% if app.user %}{% if app.user.id == quote.userId.id or is_granted('ROLE_ADMIN') %}
		~ <div class="controls"><a href="{{ path('quote_edit', {'id': quote.id}) }}">Edit</a> |
		<a href="{{ path('quote_delete', {'id': quote.id}) }}">Delete</a></div>
	{% endif %}{% endif %}
	</h4>
	<blockquote>
		{{ quote.text|nl2br }}
	</blockquote>
</div>